{% extends "./Models/model_admin.html" %}

   {% block title %} Liste des réservations {% endblock %}

   {% block content %}

      <section class="pt-20 flex items-center justify-center bg-white container mx-auto">

         <div role="tablist" class="tabs tabs-bordered w-full">

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold " style="width: 250px;" aria-label="En attente" checked />

            <div role="tabpanel" class="tab-content p-10">

               {% if pending %}

                  {% for obj in pending %}
                       <div class="card w-90 bg-base-100 shadow-xl  mb-4 ">
                             <div class="card-body bg-gray-100">
                                <div class="grid grid-cols-4">
                                   <div class="col-span-3">
                                         <h2 class="card-title">{{ obj.titre }} || {{ obj.date.strftime('%d/%m/%Y') }} de {{ obj.heure_deb }} à {{ obj.heure_fin }}  </h2>
                                         <p> {{ obj.descriptions }}</p>
                                        <div class="text-end">Par {{ obj.user.full_name}} </div>
                                   </div>
                                   <div class="card-actions justify-end">
                                      <a href="{{url_for('edit',id_reservation=obj.id)}}" class="btn bg-yellow-300 hover:bg-yellow-400" >Modifier</a>
                                   </div>
                                </div>
                             </div>
                       </div>
                  {% endfor %}

                {% else %}
                    Aucune réservation dans la catégorie traitement
                {% endif %}



            </div>

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold" style="width: 250px;" aria-label="Accepté"  />

            <div role="tabpanel" class="tab-content p-10">

               {% if approuved %}

                  {% for obj in approuved %}
                       <div class="card w-90 bg-base-100 shadow-xl  mb-4 ">
                             <div class="card-body bg-gray-100">
                                <div class="grid grid-cols-4">
                                   <div class="col-span-3">
                                         <h2 class="card-title">{{ obj.titre }} || {{ obj.date.strftime('%d/%m/%Y') }} de {{ obj.heure_deb }} à {{ obj.heure_fin }}  </h2>
                                         <p> {{ obj.descriptions }}</p>
                                        <div class="text-end">Par {{ obj.user.full_name}} </div>
                                   </div>
                                   <div class="card-actions justify-end">
                                      <a href="{{url_for('edit',id_reservation=obj.id)}}" class=" text-white btn bg-green-500 hover:bg-blue-900" >Modifier</a>
                                   </div>
                                </div>
                             </div>
                       </div>
                  {% endfor %}

                {% else %}
                    Aucune réservation dans la catégorie Accepté
                {% endif %}

            </div>

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold" style="width: 250px;" aria-label="Refusé" />

            <div role="tabpanel" class="tab-content p-10">

               {% if refused %}

                  {% for obj in refused %}
                       <div class="card w-90 bg-base-100 shadow-xl  mb-4 ">
                             <div class="card-body bg-gray-100">
                                <div class="grid grid-cols-4">
                                   <div class="col-span-3">
                                         <h2 class="card-title">{{ obj.titre }} || {{ obj.date.strftime('%d/%m/%Y') }} de {{ obj.heure_deb }} à {{ obj.heure_fin }}  </h2>
                                         <p> {{ obj.descriptions }}</p>
                                       <div class="text-end">Par {{ obj.user.full_name}} </div>
                                   </div>
                                   <div class="card-actions justify-end">
                                      <a href="{{url_for('edit',id_reservation=obj.id)}}" class=" text-white btn bg-red-600 hover:bg-red-400" >Modifier</a>
                                   </div>
                                </div>
                             </div>
                       </div>
                  {% endfor %}

                {% else %}
                    Aucune réservation dans la catégorie Refusé
                {% endif %}

            </div>
         </div>

      </section>



   {% endblock %}
