{% extends "./Models/model_admin.html" %}

   {% block title %} Liste des réservations {% endblock %}

   {% block content %}

      <section class="pt-20 flex items-center justify-center bg-white container mx-auto">

         <div role="tablist" class="tabs tabs-bordered w-full">

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold " aria-label="En attente" checked />

            <div role="tabpanel" class="tab-content p-10">

               <div class="card w-90 bg-base-100 shadow-xl">
                     <div class="card-body bg-gray-100">
                        <div class="grid grid-cols-4">
                           <div class="col-span-3">
                                 <h2 class="card-title">Card title!</h2>
                                 <p>If a dog chews shoes whose shoes does he choose?</p>
                           </div>

                           <div class="card-actions justify-end">
                              <button class="btn bg-yellow-300 hover:bg-yellow-100">En traitement</button>
                           </div>
                        </div>
                     </div>
               </div>


               <div class="card mt-8 w-90 bg-base-100 shadow-xl">
                     <div class="card-body bg-gray-100">
                        <div class="grid grid-cols-4">
                           <div class="col-span-3">
                                 <h2 class="card-title">Card title!</h2>
                                 <p>If a dog chews shoes whose shoes does he choose?</p>
                           </div>

                           <div class="card-actions justify-end">
                              <button class="btn bg-red-300 hover:bg-red-100">Refusé</button>
                           </div>
                        </div>
                     </div>
               </div>


            </div>

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold" aria-label="Accepté"  />

            <div role="tabpanel" class="tab-content p-10">

               <div class="card w-90 bg-base-100 shadow-xl">
                     <div class="card-body bg-gray-100">
                        <div class="grid grid-cols-4">
                           <div class="col-span-3">
                                 <h2 class="card-title">Card title!</h2>
                                 <p>If a dog chews shoes whose shoes does he choose?</p>
                           </div>

                           <div class="card-actions justify-end">
                              <a href="{{ url_for('reservation', id_reservation=15) }}" class="btn bg-green-300 hover:bg-green-100">Streamer mon code</a>
                           </div>
                        </div>
                     </div>
               </div>

            </div>

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold" aria-label="Refusé" />

            <div role="tabpanel" class="tab-content p-10">

               <div class="card w-90 bg-base-100 shadow-xl">
                     <div class="card-body bg-gray-100">
                        <div class="grid grid-cols-4">
                           <div class="col-span-3">
                                 <h2 class="card-title">Card title!</h2>
                                 <p>If a dog chews shoes whose shoes does he choose?</p>
                           </div>

                           <div class="card-actions justify-end">
                              <button class=" text-white btn bg-red-500 hover:bg-gray-800">Réservation expiré</button>
                           </div>
                        </div>
                     </div>
               </div>

            </div>
         </div>

      </section>



   {% endblock %}
