{% extends "./Models/model_singIn_singUp.html" %}

   {% block title %} Connexion {% endblock %}

   {% block content %}

   {% if data is defined %}
      <div class="w-full text-center">
            {% if not data.status %}
               <span class=" py-3 px-3 bg-red-500 text-white text-center hover:bg-gray-800">{{data.message}}</span>
            {% else %}
              <span class=" py-3 px-3 bg-green-500 text-white text-center hover:bg-gray-800">{{data.message}}</span>
            {% endif %}
      </div>
   {% endif %}

   <section class="pt-20 flex items-center justify-center bg-white container mx-auto">

      <div class=" rounded-lg shadow-xl artboard artboard-horizontal phone-2 bg-gray-100">

         <div class="pt-3 text-center text-3xl font-bold"> <h3> <i class="fas fa-user-circle"></i> Inscrption Robotarium</h3> </div>

         <div id="formlaire" class="pr-8 pl-8">
            <form method="POST" action="{{url_for('sing_up')}}">
               <div class="pb-8 pt-8">
                  <label class="input input-bordered flex items-center gap-2"> Nom Complet
                     <input type="text" name="full_name" class="grow" placeholder="Franck d" />
                  </label>
               </div>

               <div class="pb-8">
                  <label class="input input-bordered flex items-center gap-2"> Email
                     <input type="text" name="email" class="grow" placeholder="monmail@projetrobotium.com" />
                  </label>
               </div>

               <div class="pb-6">
                  <label class="input input-bordered flex items-center gap-2"> Mot de passe
                     <input type="password" name="password" class="grow" placeholder="**********" />
                  </label>
               </div>

               <div>
                  <button class="btn bg-blue-900 text-white text-lg hover:bg-green-600 font-medium">S'inscrire maintenant <i class="fas fa-check-circle"></i></button>
               </div>
            </form>
         </div>

      </div>

   </section>

   {% endblock %}
