{% extends "./Models/model_dashboard.html" %}

   {% block title %} Mes réservations {% endblock %}

   {% block content %}

      <section class="pt-20 flex items-center justify-center bg-white container mx-auto">

         <div role="tablist" class="tabs tabs-bordered w-full">

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold " aria-label="En traitement" checked />

            <div role="tabpanel" class="tab-content p-10">
            {% if traitement %}

              {% for obj in traitement %}
                   <div class="card w-90 bg-base-100 shadow-xl">
                         <div class="card-body bg-gray-100">
                            <div class="grid grid-cols-4">
                               <div class="col-span-3">
                                     <h2 class="card-title">{{ obj.titre }}</h2>
                                     <p> desctoop {{ obj.heure_deb }} | {{ obj.heure_fin }}</p>
                               </div>
                               <div class="card-actions justify-end">
                                  <button class="btn bg-yellow-300 hover:bg-yellow-100">{{ obj.status }}</button>
                               </div>
                            </div>
                         </div>
                   </div>
              {% endfor %}

                {% else %}
                    Aucune réservation dans la catégorie traitement
                {% endif %}



            </div>

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold" aria-label="En cours"  />

            <div role="tabpanel" class="tab-content p-10">

               {% if en_cour %}

              {% for obj in en_cour %}
                   <div class="card w-90 bg-base-100 shadow-xl">
                         <div class="card-body bg-gray-100">
                            <div class="grid grid-cols-4">
                               <div class="col-span-3">
                                     <h2 class="card-title">{{ obj.titre }}</h2>
                                     <p>If a dog chews shoes whose shoes does he choose?</p>
                               </div>
                               <div class="card-actions justify-end">
                                  <a href="{{url_for('reservation',id_reservation=obj.id)}}" class="btn bg-yellow-300 hover:bg-yellow-100">En traitement</a>
                               </div>
                            </div>
                         </div>
                   </div>
              {% endfor %}

                {% else %}
                    Aucune réservation dans la catégorie en cours
                {% endif %}

            </div>

            <input type="radio" name="my_tabs_1" role="tab" class="tab text-xl font-bold" aria-label="Expiré" />

            <div role="tabpanel" class="tab-content p-10">

               {% if expirer %}

              {% for obj in expirer %}
                   <div class="card w-90 bg-base-100 shadow-xl">
                         <div class="card-body bg-gray-100">
                            <div class="grid grid-cols-4">
                               <div class="col-span-3">
                                     <h2 class="card-title">{{ obj.titre }}</h2>
                                     <p>If a dog chews shoes whose shoes does he choose?</p>
                               </div>
                               <div class="card-actions justify-end">
                                  <button class="btn bg-yellow-300 hover:bg-yellow-100">En traitement</button>
                               </div>
                            </div>
                         </div>
                   </div>
              {% endfor %}

                {% else %}
                    Aucune réservation dans la catégorie expirée
                {% endif %}

            </div>
         </div>

      </section>



   {% endblock %}
